html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-med;
  font-family: "Varela Round", sans-serif;
  font-weight: 300;
  color: $white;
}

a,
a:visited,
a:hover {
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
  color: $darkGrey;
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

//Buttons

button,
.button {
  padding: 0.875rem 2.1875rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  background: linear-gradient(to right, $midBlue, $lightBlue);
  border-radius: 50px;
  border-color: $darkGrey;
  border-width: thin;
  color: $dimGrey !important;
  cursor: pointer;
}

//Visibility

.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop viewpoet widths
  @include breakpoint-up(large) {
    display: none;
  }
}
//Video BG - Controls live BG

.video-bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

// TODO: Make glass panel look pretty... also maybe add a light mode?
//Glass panel
:root {
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
}

// .app refers to the glass bg
// .app {
//   position: relative;
//   z-index: 1000;
//   top: 6vh;
//   //bottom: 10%;
//   left: 5%;
//   right: 5%;
//   background-color: var(--theme-bg-color);
//   //max-width: 1250px;
//   //max-height: 860px;
//   height: 75%;
//   //width: 90%;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   // width: 90%;
//   border-radius: 14px;
//   backdrop-filter: blur(1px);
//   -webkit-backdrop-filter: blur(1px);
//   font-size: 15px;
//   font-weight: 500;
// }

.app {
  position: relative;
  z-index: 1000;
  top: 6vh;
  bottom: 10%;
  left: 5%;
  right: 5%;
  background-color: var(--theme-bg-color);
  height: 75vh;
  width: 90%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
  border-radius: 14px;
  backdrop-filter: blur(1px);
  font-size: 15px;
  font-weight: 500;

  // &-container {
  //   display: grid;
  //   grid-template-columns: 0.5fr 1.5fr;
  //   grid-template-rows: 0.2fr 1.8fr;
  //   gap: 0px 0px;
  //   grid-template-areas:
  //     "app-header app-header"
  //     "app-navigation app-body";
  // }
  &-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
      "app-nav app-nav"
      "app-header app-body";
  }

  &-nav {
    grid-area: app-nav;
  }
  &-body {
    grid-area: app-body;
  }
  &-header {
    grid-area: app-header;
  }
}
