html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "syneextrabold";
  src: url("../fonts/syne-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/syne-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: $font-sm;
  font-family: "Varela Round", sans-serif;
  font-weight: 300;
  color: $white;
  background-color: $lightBlue;
}

a,
a:visited,
a:hover {
  font-family: "syneextrabold";
  text-decoration: none;
  color: black;
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

//Visibility

.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop viewpoet widths
  @include breakpoint-up(large) {
    display: none;
  }
}
//Video BG - Controls live BG

.video-bg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.content {
  position: absolute;
  // padding: 20px;
  // margin: 0 auto -50px;
  color: black;
  z-index: -1000000000;
}

.footer,
.push {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.soft {
  font-size: 3em;
  background: #000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.2) 2px 2px 4px;
}

p {
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
  background-clip: text;
  -webkit-background-clip: text;
}

#container {
  height:35px; 
  position:relative; 
  overflow:hidden;
  margin-top: 20px;
}

.photobanner {
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
  animation: bannermove 30s linear infinite;
}

.photobanner img { 
  height: 35px;   
  margin: 0 0;
}

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-50%, 0);
  }
}

