body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#content {
  position: relative;
  z-index: 7001;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%; /* Ensure content takes full width */
}

.footer,
.push {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
}

.soft {
  font-size: 3em;
  background: #000;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.2) 2px 2px 4px;
}

p {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2em;
  background-clip: text;
  -webkit-background-clip: text;
}

#container {
  height: 35px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 7002;
  padding: 0; /* Remove padding */
  width: 100%; /* Ensure it takes full width */
  box-sizing: border-box;
}

#main-wrapper {
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.project-square {
  width: 50%;
  margin: 0; /* Remove margin */
  padding: 20px; /* Keep some internal padding */
  z-index: 1;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  /* border: 2px solid #000; */
}

.project-square:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.project-square h2 {
  margin-top: 0;
  color: #333;
}

.project-square p {
  color: #666;
}


@-webkit-keyframes fade-in {
    from {
      display: non;
    }
    1% {
      display: block;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }
  @keyframes fade-in {
    from {
      display: non;
    }
    1% {
      display: block;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }
  html {
    font-size: 100%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  @font-face {
    font-family: "syneextrabold";
    src: url("../fonts/syne-extrabold-webfont.woff2") format("woff2"), url("../fonts/syne-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: 0.875rem;
    font-family: "Varela Round", sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #b0d1e7;
  }
  
  a,
  a:visited,
  a:hover {
    font-family: "syneextrabold";
    text-decoration: none;
    color: black;
  }
  
  .flex {
    display: flex;
  }
  .flex-jc-sb {
    justify-content: space-between;
  }
  .flex-jc-c {
    justify-content: center;
  }
  .flex-ai-c {
    align-items: center;
  }
  
  @media (max-width: 63.9375em) {
    .hide-for-mobile {
      display: none;
      z-index: 7000;
    }
  }

  @media (max-width: 63.9375em) {
    .project-square {
        width: 100%;
    }
}
  
  @media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
      z-index: -5000;
    }
  }
  
  .video-bg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
  }
  
  .header {
    position: relative;
    z-index: 7001;
  }
  .header__logo {
    width: 70px;
    height: 31.45px;
  }
  .header nav {
    padding: 24px;
  }
  .header__menu > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: black;
    transition: all 300ms ease-in-out;
    transform-origin: 3px 1px;
  }
  .header__menu > span:not(:last-child) {
    margin-bottom: 5px;
  }
  .header__open .overlay {
    -webkit-animation: fade-in 300ms ease-in-out forwards;
            animation: fade-in 300ms ease-in-out forwards;
  }
  .header__open > span:first-child {
    transform: rotate(45deg);
  }
  .header__open > span:nth-child(2) {
    opacity: 0;
  }
  .header__open > span:last-child {
    transform: rotate(-45deg);
  }
  .header__links a {
    font-family: "syneextrabold";
    position: relative;
    font-size: 0.875rem;
    color: black;
    transition: color 300ms ease-in-out;
  }
  .header__links a:not(:last-child) {
    margin-right: 4rem;
  }
  .header__cta {
    font-size: 0.875rem;
    color: #dbdbdb;
    transition: opacity 300ms ease-in-out;
  }
  .header__cta:hover {
    opacity: 0.75;
  }
  
  .header__links ul {
    display: block;
    padding: 0;
    position: relative;
  }
  
  .header__links ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
  }
  .header__links ul li:not(:last-child) {
    margin-right: 3rem;
  }
  
  .header__links ul li a {
    text-decoration: none;
    text-rendering: geometricPrecision;
    position: relative;
    display: block;
    line-height: 40px;
    color: black;
    transition: transform 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 50% 30%;
  }
  
  .header__links ul li a:hover {
    transform: scale(1.3);
  }
  
  button,
  .button {
    padding: 0.875rem 2.1875rem;
    font-family: "syneextrabold";
    background: black;
    border-radius: 50px;
    border-color: #4c4c4c;
    border-width: thin;
    color: #dbdbdb !important;
    cursor: pointer;
  }
  
  :root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
  }
  
  .panel {
    position: fixed;
    /* z-index: 7000; */
    top: 6vh;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background-color: var(--theme-bg-color);
    height: 75vh;
    width: 90%;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 14px;
    -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px);
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    margin-top: 50px;
    transition: opacity 300ms ease-in-out;
    justify-content: center;
    pointer-events: none;
  }
  .panel__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 20px;
    pointer-events: auto;
  }
  .panel__btn a {
    font-family: "syneextrabold";
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 5%;
    pointer-events: none;
    cursor: default;
  }
  .panel__open {
    opacity: 100;
    z-index: 7000;
  }
  .panel__open a {
    pointer-events: auto;
    cursor: pointer;
  }
  .panel__open .overlay {
    -webkit-animation: fade-in 300ms ease-in-out;
            animation: fade-in 300ms ease-in-out;
  }
  .panel-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas: "app-header app-header" "app-nav app-body";
  }
  .panel-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas: "app-nav app-nav" "app-header app-body";
  }
  .panel-nav {
    grid-area: app-nav;
  }
  .panel-body {
    grid-area: app-body;
  }
  .panel-header {
    grid-area: app-header;
  }

  footer {
    display: table;
    position: relative center;
    padding: 9vh 25px 0 0;
    left: 50px;
    width: auto;
    margin: auto;
  }
  ul {
    position: relative center;
    list-style-type: none;
    list-style: none;
    margin: auto;
    padding: 10;
    overflow: visible;
    width: auto;
  }
  
  li {
    float: left;
    display: inline-block;
    padding: 10px;
    position: center;
  }
  
  .ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 30 px;
    width: 30px;
  }
  
  .ir > * {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
  }
  
  .soc {
    position: relative center;
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    padding: 4.8rem;
    text-align: center;
    width: 110rem;
    max-width: 100%;
  }
  .soc li {
    display: inline-block;
    margin: 1.2rem;
    list-style-type: none;
  }
  .soc a,
  .soc svg {
    display: block;
  }
  .soc a {
    height: 9.6rem;
    width: 9.6rem;
  }
  
  .wrapper {
    position: relative center;
    display: table;
    margin: 0 auto;
    grid-template-columns: 0.1111fr 0.1111fr 0.1111fr 0.1111fr 0.1111fr 0.1111fr 0.1111fr 0.1111fr 0.1111fr;
  }

/*! CSS Used from: https://daytona2020.sakura.ne.jp/freak/cms/wp-content/themes/freakmag/assets/css/project.css */
div,li,h4,p,figure{margin:0;padding:0;}
img{border:0;}
h4{font-size:100%;font-weight:normal;}
html ::selection,body ::selection{background-color:#bbb;}
body *{box-sizing:border-box;}
/* a{text-decoration:inherit;color:inherit;display:block;width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);} */
picture{display:block;}
img{display:block;width:100%;}
img.lazy{opacity:0;min-height:100px;}
img.lazy.fLazy--loaded{opacity:1;transition:opacity 450ms;min-height:initial;}
.f-neue{font-family:neue-haas-grotesk-display,sans-serif;font-weight:500;letter-spacing:.04em;}
.shape--horizontal .front__image__inner{padding-bottom:69.9570815451%;}
.front__image__inner{position:relative;height:0;}
.front__image__thumb{display:block;}
.editedCaption--circle{width:11.25vw;border-radius:50%;}
.editedCaption--circle .editedCaption__text{padding-bottom:65.2777777778%;}
.Common__editedList__item{display:flex;width:50%;height:50vw;overflow:hidden;border-bottom:1px solid #000;}
.Common__editedList__item .Common__backCover{width:15.15625%;border-right:1px solid #000;font-size:.78125vw;}
.Common__editedList__item .Common__backCover__heading{height:auto;padding:30.9278350515% 0;}
.Common__editedList__item .Common__backCover__heading .info__name,.Common__editedList__item .Common__backCover__heading .info__job{height:auto;}
.Common__editedList__item .Common__backCover__num{height:auto;padding:25.7731958763% 0;}
.Common__editedList__item .front{position:relative;width:84.84375%;height:100%;}
.Common__editedList__item .front .anchor{height:100%;}
.Common__editedList__item .front__title{position:absolute;left:7.3664825046%;width:80.2946593002%;font-size:min(2.9rem,1.953125vw);letter-spacing:.04em;line-height:1.6;z-index:3;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;}
.Common__editedList__item .front__image{position:absolute;}
.Common__editedList__item .front__image__inner{transform:scale(1) translate3d(0, 0, 0);transition:transform 430ms cubic-bezier(0.25, 2.5, 0.69, 0.45);}
.Common__editedList__item .front__image__caption{position:absolute;text-align:center;font-size:1.015625vw;font-weight:500;line-height:1.4;}
.Common__editedList__item .front__image__caption.fInview--enter{opacity:1;transition-duration:380ms;transition-timing-function:cubic-bezier(0.38, 1.91, 1, 1);transition-property:opacity,transform;}
.Common__editedList__item .front__image__caption__text{height:0;}
.Common__editedList__item .front__image__caption__text .inner{position:absolute;top:50%;transform:translateY(-53%);left:0;right:0;margin:auto;width:86%;}
.Common__backCover{display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.Common__backCover__heading{position:relative;height:200px;padding:32px 0 20px;}
.Common__backCover__heading .title{font-size:1em;}
.Common__backCover__heading .info{margin:18px auto 0;text-align:left;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;}
.Common__backCover__heading .info__name{height:125px;font-size:1.4em;letter-spacing:.04em;line-height:1.2;}
.Common__backCover__heading .info__job{height:125px;margin-right:.2em;font-size:1em;line-height:1.2;}
.Common__backCover__date{display:flex;width:61.8556701031%;height:calc(100% - 287px);margin:auto;font-size:1.2em;border-top:1px solid #000;border-bottom:1px solid #000;}
.Common__backCover__date .date{-ms-writing-mode:tb-rl;writing-mode:vertical-rl;margin:auto;}
.Common__backCover__num{position:relative;height:87px;padding:25.7731958763% 0;}
.Common__backCover__num .title{font-size:1.1em;}
.Common__backCover__num .num{margin-top:.35em;font-size:2em;}
@media screen and (max-width: 959px){
.editedCaption--circle{width:28.5333333333vw;}
.Common__editedList__item{width:100%;height:121.3333333333vw;}
.Common__editedList__item.layout-sp--6 .front__title{top:6.6666666667vw;}
.Common__editedList__item.layout-sp--6.shape--horizontal .front__image{bottom:25.6vw;right:14.1333333333vw;width:70.1333333333vw;}
.Common__editedList__item.layout-sp--6.shape--horizontal .front__image__thumb{transform:rotate(-13deg);}
.Common__editedList__item.layout-sp--6.shape--horizontal .front__image__caption{bottom:-7.2vw;right:-9.8666666667vw;transform:rotate(17deg);}
.Common__editedList__item .Common__backCover{width:13.3333333333%;font-size:2.6666666667vw;}
.Common__editedList__item .Common__backCover__heading{padding:5.3333333333vw 0;}
.Common__editedList__item .Common__backCover__date{height:100%;}
.Common__editedList__item .Common__backCover__num{padding:5.8666666667vw 0;}
.Common__editedList__item .front{width:86.6666666667%;}
.Common__editedList__item .front__title{left:8.5333333333vw;width:73.3333333333vw;font-size:4.2666666667vw;}
.Common__editedList__item .front__image__caption{font-size:2.6666666667vw;}
.Common__backCover__heading{height:41.3333333333vw;padding:5.3333333333vw 0;}
.Common__backCover__heading .info{margin-top:3.2vw;}
.Common__backCover__heading .info__name{height:28vw;font-size:1.3em;}
.Common__backCover__heading .info__job{height:28vw;}
.Common__backCover__date{width:70%;height:calc(100% - 58.6666666667vw);min-height:32vw;font-size:1em;}
.Common__backCover__num{height:17.3333333333vw;padding:5.8666666667vw 0;}
.Common__backCover__num .title{font-size:1em;}
.Common__backCover__num .num{font-size:1.8em;}
}
@media screen and (min-width: 960px){
.Common__editedList__item.layout--7 .front__title{top:6.25%;}
.Common__editedList__item.layout--7 .front__image__thumb{transform:rotate(10deg);}
.Common__editedList__item.layout--7 .front__image__caption{transform:rotate(-5deg);}
.Common__editedList__item.layout--7.shape--horizontal .front__image{bottom:13.125%;right:-1.8416206262%;width:85.8195211786%;}
.Common__editedList__item.layout--7.shape--horizontal .front__image__caption{top:-2.734375vw;left:-11.1587982833%;}
.Common__editedList__item .Common__backCover__date{height:28.4375vw;font-size:1.1em;}
}
/*! CSS Used from: Embedded */
img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 0.07em!important;vertical-align:-0.1em!important;background:none!important;padding:0!important;}


/*! CSS Used from: https://daytona2020.sakura.ne.jp/freak/cms/wp-content/themes/freakmag/assets/css/project.css */
div,li,h4,p,figure{margin:0;padding:0;}
img{border:0;}
h4{font-size:100%;font-weight:normal;}
html ::selection,body ::selection{background-color:#bbb;}
body *{box-sizing:border-box;}
/* a{text-decoration:inherit;color:inherit;display:block;width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);} */
picture{display:block;}
img{display:block;width:100%;}
img.lazy{opacity:0;min-height:100px;}
img.lazy.fLazy--loaded{opacity:1;transition:opacity 450ms;min-height:initial;}
.f-neue{font-family:neue-haas-grotesk-display,sans-serif;font-weight:500;letter-spacing:.04em;}
.shape--horizontal .front__image__inner{padding-bottom:69.9570815451%;}
.front__image__inner{position:relative;height:0;}
.front__image__thumb{display:block;}
.editedCaption--cloud{width:12.5vw;}
.editedCaption--cloud .editedCaption__text{padding-bottom:74.375%;}
.Common__editedList__item{display:flex;width:50%;height:50vw;overflow:hidden;border-bottom:1px solid #000;}
.Common__editedList__item .Common__backCover{width:15.15625%;border-right:1px solid #000;font-size:.78125vw;}
.Common__editedList__item .Common__backCover__heading{height:auto;padding:30.9278350515% 0;}
.Common__editedList__item .Common__backCover__heading .info__name,.Common__editedList__item .Common__backCover__heading .info__job{height:auto;}
.Common__editedList__item .Common__backCover__num{height:auto;padding:25.7731958763% 0;}
.Common__editedList__item .front{position:relative;width:84.84375%;height:100%;}
.Common__editedList__item .front .anchor{height:100%;}
.Common__editedList__item .front__title{position:absolute;left:7.3664825046%;width:80.2946593002%;font-size:min(2.9rem,1.953125vw);letter-spacing:.04em;line-height:1.6;z-index:3;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;}
.Common__editedList__item .front__image{position:absolute;}
.Common__editedList__item .front__image__inner{transform:scale(1) translate3d(0, 0, 0);transition:transform 430ms cubic-bezier(0.25, 2.5, 0.69, 0.45);}
.Common__editedList__item .front__image__caption{position:absolute;text-align:center;font-size:1.015625vw;font-weight:500;line-height:1.4;}
.Common__editedList__item .front__image__caption.fInview--enter{opacity:1;transition-duration:380ms;transition-timing-function:cubic-bezier(0.38, 1.91, 1, 1);transition-property:opacity,transform;}
.Common__editedList__item .front__image__caption__bg{position:absolute;top:50%;transform:translateY(-50%);left:0;width:100%;}
.Common__editedList__item .front__image__caption__bg svg{width:100%;height:auto;}
.Common__editedList__item .front__image__caption__text{height:0;}
.Common__editedList__item .front__image__caption__text .inner{position:absolute;top:50%;transform:translateY(-53%);left:0;right:0;margin:auto;width:86%;}
.Common__backCover{display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.Common__backCover__heading{position:relative;height:200px;padding:32px 0 20px;}
.Common__backCover__heading .title{font-size:1em;}
.Common__backCover__heading .info{margin:18px auto 0;text-align:left;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;}
.Common__backCover__heading .info__name{height:125px;font-size:1.4em;letter-spacing:.04em;line-height:1.2;}
.Common__backCover__heading .info__job{height:125px;margin-right:.2em;font-size:1em;line-height:1.2;}
.Common__backCover__date{display:flex;width:61.8556701031%;height:calc(100% - 287px);margin:auto;font-size:1.2em;border-top:1px solid #000;border-bottom:1px solid #000;}
.Common__backCover__date .date{-ms-writing-mode:tb-rl;writing-mode:vertical-rl;margin:auto;}
.Common__backCover__num{position:relative;height:87px;padding:25.7731958763% 0;}
.Common__backCover__num .title{font-size:1.1em;}
.Common__backCover__num .num{margin-top:.35em;font-size:2em;}
@media screen and (max-width: 959px){
.editedCaption--cloud{width:32vw;}
.Common__editedList__item{width:100%;height:121.3333333333vw;}
.Common__editedList__item.layout-sp--2 .front__title{bottom:6.6666666667vw;}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image{top:2.9333333333vw;left:13.6vw;width:83.2vw;}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image__thumb{transform:rotate(-14deg);}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image__caption{bottom:-1.0666666667vw;left:-11.4666666667vw;transform:rotate(16deg);}
.Common__editedList__item .Common__backCover{width:13.3333333333%;font-size:2.6666666667vw;}
.Common__editedList__item .Common__backCover__heading{padding:5.3333333333vw 0;}
.Common__editedList__item .Common__backCover__date{height:100%;}
.Common__editedList__item .Common__backCover__num{padding:5.8666666667vw 0;}
.Common__editedList__item .front{width:86.6666666667%;}
.Common__editedList__item .front__title{left:8.5333333333vw;width:73.3333333333vw;font-size:4.2666666667vw;}
.Common__editedList__item .front__image__caption{font-size:2.6666666667vw;}
.Common__backCover__heading{height:41.3333333333vw;padding:5.3333333333vw 0;}
.Common__backCover__heading .info{margin-top:3.2vw;}
.Common__backCover__heading .info__name{height:28vw;font-size:1.3em;}
.Common__backCover__heading .info__job{height:28vw;}
.Common__backCover__date{width:70%;height:calc(100% - 58.6666666667vw);min-height:32vw;font-size:1em;}
.Common__backCover__num{height:17.3333333333vw;padding:5.8666666667vw 0;}
.Common__backCover__num .title{font-size:1em;}
.Common__backCover__num .num{font-size:1.8em;}
}
@media screen and (min-width: 960px){
.Common__editedList__item:nth-of-type(even) .front__image__caption{transition-delay:160ms;}
.Common__editedList__item.layout--3 .front__title{bottom:6.25%;}
.Common__editedList__item.layout--3 .front__image__thumb{transform:rotate(10deg);}
.Common__editedList__item.layout--3 .front__image__caption{transform:rotate(-15deg);}
.Common__editedList__item.layout--3.shape--horizontal .front__image{top:18.75%;left:1.1049723757%;width:70.9023941068%;}
.Common__editedList__item.layout--3.shape--horizontal .front__image__caption{bottom:-5.390625vw;right:-8.3116883117%;}
.Common__editedList__item .Common__backCover__date{height:28.4375vw;font-size:1.1em;}
}
/*! CSS Used from: https://daytona2020.sakura.ne.jp/freak/cms/wp-content/themes/freakmag/assets/css/project.css */
div,li,h4,p,figure{margin:0;padding:0;}
img{border:0;}
h4{font-size:100%;font-weight:normal;}
html ::selection,body ::selection{background-color:#bbb;}
body *{box-sizing:border-box;}
/* a{text-decoration:inherit;color:inherit;display:block;width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);} */
picture{display:block;}
img{display:block;width:100%;}
img.lazy{opacity:0;min-height:100px;}
img.lazy.fLazy--loaded{opacity:1;transition:opacity 450ms;min-height:initial;}
.f-neue{font-family:neue-haas-grotesk-display,sans-serif;font-weight:500;letter-spacing:.04em;}
.shape--horizontal .front__image__inner{padding-bottom:69.9570815451%;}
.front__image__inner{position:relative;height:0;}
.front__image__thumb{display:block;}
.editedCaption--circle{width:11.25vw;border-radius:50%;}
.editedCaption--circle .editedCaption__text{padding-bottom:65.2777777778%;}
.Common__editedList__item{display:flex;width:50%;height:50vw;overflow:hidden;border-bottom:1px solid #000;border-top:1px solid #000;}
.Common__editedList__item .Common__backCover{width:15.15625%;border-right:1px solid #000;font-size:.78125vw;}
.Common__editedList__item .Common__backCover__heading{height:auto;padding:30.9278350515% 0;}
.Common__editedList__item .Common__backCover__heading .info__name,.Common__editedList__item .Common__backCover__heading .info__job{height:auto;}
.Common__editedList__item .Common__backCover__num{height:auto;padding:25.7731958763% 0;}
.Common__editedList__item .front{position:relative;width:84.84375%;height:100%;}
.Common__editedList__item .front .anchor{height:100%;}
.Common__editedList__item .front__title{position:absolute;left:7.3664825046%;width:80.2946593002%;font-size:min(2.9rem,1.953125vw);letter-spacing:.04em;line-height:1.6;z-index:3;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;}
.Common__editedList__item .front__image{position:absolute;}
.Common__editedList__item .front__image__inner{transform:scale(1) translate3d(0, 0, 0);transition:transform 430ms cubic-bezier(0.25, 2.5, 0.69, 0.45);}
.Common__editedList__item .front__image__caption{position:absolute;text-align:center;font-size:1.015625vw;font-weight:500;line-height:1.4;}
.Common__editedList__item .front__image__caption.fInview--enter{opacity:1;transition-duration:380ms;transition-timing-function:cubic-bezier(0.38, 1.91, 1, 1);transition-property:opacity,transform;}
.Common__editedList__item .front__image__caption__text{height:0;}
.Common__editedList__item .front__image__caption__text .inner{position:absolute;top:50%;transform:translateY(-53%);left:0;right:0;margin:auto;width:86%;}
.Common__backCover{display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.Common__backCover__heading{position:relative;height:200px;padding:32px 0 20px;}
.Common__backCover__heading .title{font-size:1em;}
.Common__backCover__heading .info{margin:18px auto 0;text-align:left;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;}
.Common__backCover__heading .info__name{height:125px;font-size:1.4em;letter-spacing:.04em;line-height:1.2;}
.Common__backCover__heading .info__job{height:125px;margin-right:.2em;font-size:1em;line-height:1.2;}
.Common__backCover__date{display:flex;width:61.8556701031%;height:calc(100% - 287px);margin:auto;font-size:1.2em;border-top:0px solid #000;border-bottom:0px solid #000;}
.Common__backCover__date .date{-ms-writing-mode:tb-rl;writing-mode:vertical-rl;margin:auto;}
.Common__backCover__num{position:relative;height:87px;padding:25.7731958763% 0;}
.Common__backCover__num .title{font-size:1.1em;}
.Common__backCover__num .num{margin-top:.35em;font-size:2em;}
@media screen and (max-width: 959px){
.editedCaption--circle{width:28.5333333333vw;}
.Common__editedList__item{width:100%;height:121.3333333333vw;}
.Common__editedList__item.layout-sp--5 .front__title{top:6.6666666667vw;}
.Common__editedList__item.layout-sp--5.shape--horizontal .front__image{bottom:25.6vw;left:-1.0666666667vw;width:70.1333333333vw;}
.Common__editedList__item.layout-sp--5.shape--horizontal .front__image__thumb{transform:rotate(8deg);}
.Common__editedList__item.layout-sp--5.shape--horizontal .front__image__caption{bottom:-7.2vw;right:-9.8666666667vw;transform:rotate(17deg);}
.Common__editedList__item .Common__backCover{width:13.3333333333%;font-size:2.6666666667vw;}
.Common__editedList__item .Common__backCover__heading{padding:5.3333333333vw 0;}
.Common__editedList__item .Common__backCover__date{height:100%;}
.Common__editedList__item .Common__backCover__num{padding:5.8666666667vw 0;}
.Common__editedList__item .front{width:86.6666666667%;}
.Common__editedList__item .front__title{left:8.5333333333vw;width:73.3333333333vw;font-size:4.2666666667vw;}
.Common__editedList__item .front__image__caption{font-size:2.6666666667vw;}
.Common__backCover__heading{height:41.3333333333vw;padding:5.3333333333vw 0;}
.Common__backCover__heading .info{margin-top:3.2vw;}
.Common__backCover__heading .info__name{height:28vw;font-size:1.3em;}
.Common__backCover__heading .info__job{height:28vw;}
.Common__backCover__date{width:70%;height:calc(100% - 58.6666666667vw);min-height:32vw;font-size:1em;}
.Common__backCover__num{height:17.3333333333vw;padding:5.8666666667vw 0;}
.Common__backCover__num .title{font-size:1em;}
.Common__backCover__num .num{font-size:1.8em;}
}
@media screen and (min-width: 960px){
.Common__editedList__item.layout--9 .front__title{top:6.25%;}
.Common__editedList__item.layout--9 .front__image__thumb{transform:rotate(-20deg);}
.Common__editedList__item.layout--9 .front__image__caption{transform:rotate(12deg);}
.Common__editedList__item.layout--9.shape--horizontal .front__image{bottom:23.90625%;left:15.2854511971%;width:64.0883977901%;}
.Common__editedList__item.layout--9.shape--horizontal .front__image__thumb{transform:rotate(-7deg);}
.Common__editedList__item.layout--9.shape--horizontal .front__image__caption{bottom:-5.234375vw;left:-17.2413793103%;}
.Common__editedList__item .Common__backCover__date{height:28.4375vw;font-size:1.1em;}
}
/*! CSS Used from: https://daytona2020.sakura.ne.jp/freak/cms/wp-content/themes/freakmag/assets/css/project.css */
div,li,h4,p,figure{margin:0;padding:0;}
img{border:0;}
h4{font-size:100%;font-weight:normal;}
html ::selection,body ::selection{background-color:#bbb;}
body *{box-sizing:border-box;}
/* .Common__editedList__item a{text-decoration:inherit;color:inherit;display:block;width:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);} */
picture{display:block;}
img{display:block;width: 120%;}
img.lazy{opacity:0;min-height:100px;}
img.lazy.fLazy--loaded{opacity:1;transition:opacity 450ms;min-height:initial;}
.f-neue{font-family:neue-haas-grotesk-display,sans-serif;font-weight:500;letter-spacing:.04em;}
.shape--horizontal .front__image__inner{padding-bottom:69.9570815451%;}
.front__image__inner{position:relative;height:0;}
.front__image__thumb{display:block;}
.editedCaption--explosion{width:12.5vw;}
.editedCaption--explosion .editedCaption__text{padding-bottom:69.375%;}
.Common__editedList__item{display:flex;width:50%;height:50vw;overflow:hidden;border-right:1px solid  #000;}
.Common__editedList__item .Common__backCover{width:15.15625%;border-right:1px solid #000;font-size:.78125vw;}
.Common__editedList__item .Common__backCover__heading{height:auto;padding:30.9278350515% 0;}
.Common__editedList__item .Common__backCover__heading .info__name,.Common__editedList__item .Common__backCover__heading .info__job{height:auto;}
.Common__editedList__item .Common__backCover__num{height:auto;padding:25.7731958763% 0;}
.Common__editedList__item .front{position:relative;width:84.84375%;height:100%;}
.Common__editedList__item .front .anchor{height:100%;}
.Common__editedList__item .front__title{position:absolute;left:7.3664825046%;width:80.2946593002%;font-size:min(2.9rem,1.953125vw);letter-spacing:.04em;line-height:1.6;z-index:3;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;}
.Common__editedList__item .front__image{position:absolute;}
.Common__editedList__item .front__image__inner{transform:scale(1) translate3d(0, 0, 0);transition:transform 430ms cubic-bezier(0.25, 2.5, 0.69, 0.45);}
.Common__editedList__item .front__image__caption{position:absolute;text-align:center;font-size:1.015625vw;font-weight:500;line-height:1.4;}
.Common__editedList__item .front__image__caption.fInview--enter{opacity:1;transition-duration:380ms;transition-timing-function:cubic-bezier(0.38, 1.91, 1, 1);transition-property:opacity,transform;}
.Common__editedList__item .front__image__caption__bg{position:absolute;top:50%;transform:translateY(-50%);left:0;width:100%;}
.Common__editedList__item .front__image__caption__bg svg{width:100%;height:auto;}
.Common__editedList__item .front__image__caption__text{height:0;}
.Common__editedList__item .front__image__caption__text .inner{position:absolute;top:50%;transform:translateY(-53%);left:0;right:0;margin:auto;width:86%;}
.Common__backCover{display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.Common__backCover__heading{position:relative;height:200px;padding:32px 0 20px;}
.Common__backCover__heading .title{font-size:1em;}
.Common__backCover__heading .info{margin:18px auto 0;text-align:left;-ms-writing-mode:tb-rl;writing-mode:vertical-rl;}
.Common__backCover__heading .info__name{height:125px;font-size:1.4em;letter-spacing:.04em;line-height:1.2;}
.Common__backCover__heading .info__job{height:125px;margin-right:.2em;font-size:1em;line-height:1.2;}
.Common__backCover__date{display:flex;width:61.8556701031%;height:calc(100% - 287px);margin:auto;font-size:1.2em;border-top:1px solid #000;border-bottom:1px solid #000;}
.Common__backCover__date .date{-ms-writing-mode:tb-rl;writing-mode:vertical-rl;margin:auto;}
.Common__backCover__num{position:relative;height:87px;padding:25.7731958763% 0;}
.Common__backCover__num .title{font-size:1.1em;}
.Common__backCover__num .num{margin-top:.35em;font-size:2em;}
@media screen and (max-width: 959px){
.editedCaption--explosion{width:32vw;}
.Common__editedList__item{width:100%;height:121.3333333333vw;}
.Common__editedList__item.layout-sp--2 .front__title{bottom:6.6666666667vw;}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image{top:2.9333333333vw;left:13.6vw;width:83.2vw;}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image__thumb{transform:rotate(-14deg);}
.Common__editedList__item.layout-sp--2.shape--horizontal .front__image__caption{bottom:-1.0666666667vw;left:-11.4666666667vw;transform:rotate(16deg);}
.Common__editedList__item .Common__backCover{width:13.3333333333%;font-size:2.6666666667vw;}
.Common__editedList__item .Common__backCover__heading{padding:5.3333333333vw 0;}
.Common__editedList__item .Common__backCover__date{height:100%;}
.Common__editedList__item .Common__backCover__num{padding:5.8666666667vw 0;}
.Common__editedList__item .front{width:86.6666666667%;}
.Common__editedList__item .front__title{left:8.5333333333vw;width:73.3333333333vw;font-size:4.2666666667vw;}
.Common__editedList__item .front__image__caption{font-size:2.6666666667vw;}
.Common__backCover__heading{height:41.3333333333vw;padding:5.3333333333vw 0;}
.Common__backCover__heading .info{margin-top:3.2vw;}
.Common__backCover__heading .info__name{height:28vw;font-size:1.3em;}
.Common__backCover__heading .info__job{height:28vw;}
.Common__backCover__date{width:70%;height:calc(100% - 58.6666666667vw);min-height:32vw;font-size:1em;}
.Common__backCover__num{height:17.3333333333vw;padding:5.8666666667vw 0;}
.Common__backCover__num .title{font-size:1em;}
.Common__backCover__num .num{font-size:1.8em;}
}
@media screen and (min-width: 960px){
.Common__editedList__item:nth-of-type(even) .front__image__caption{transition-delay:160ms;}
.Common__editedList__item.layout--7 .front__title{top:6.25%;}
.Common__editedList__item.layout--7 .front__image__thumb{transform:rotate(10deg);}
.Common__editedList__item.layout--7 .front__image__caption{transform:rotate(-5deg);}
.Common__editedList__item.layout--7.shape--horizontal .front__image{bottom:13.125%;right:-1.8416206262%;width:85.8195211786%;}
.Common__editedList__item.layout--7.shape--horizontal .front__image__caption{top:-2.734375vw;left:-11.1587982833%;}
.Common__editedList__item .Common__backCover__date{height:28.4375vw;font-size:1.1em;}
}
.githubLogo{
  width: 50%;
  align-self: center;
}